$black: #000;
$white: #ffffff;

$darkblue: #2558BF;
$blue: #4172E5;
$lighterBlue:#A3DCF5;
$lightestBlue:#D7E8E6;


$pastel: #F2DCDB;
$yellow: #F9F0B9;

$pink: #E781FC;
$lightpink: #F2DCDB;

$grey: grey;

